body.env-production {
    background: #111 !important;
    filter: invert(100%) hue-rotate(180deg) !important;
}

g-emoji,
body.env-production img,
body.env-production [style*="background"] {
    filter: invert(100%) hue-rotate(-180deg) !important;
}
