body[data-project] {
    background: #111 !important;
    filter: brightness(90%) invert(100%) hue-rotate(180deg) !important;
}

gl-emoji,
.navbar-gitlab,
body[data-project] img,
body[data-project] [style*="background"],
body[data-project] .code,
body[data-project] .notes_holder,
body[data-project] .application-theme .preview,
body[data-project] .navbar-gitlab .dropdown-menu,
body[data-project] .navbar-gitlab .dropdown-menu img,
body[data-project] .navbar-gitlab .dropdown-menu gl-emoji {
    filter: brightness(90%) saturate(123%) invert(100%) hue-rotate(-180deg) !important;
}

.navbar-gitlab {
    border-bottom-color: #111 !important;
}

body[data-project] .navbar-gitlab img,
.navbar-gitlab gl-emoji {
    filter: none !important;
}

body[data-project] .modal {
    background: rgba(238, 238, 238, .3) !important;
}

body[data-project] .modal-backdrop {
    background-color: #eee;
}
